div.note {
    height:150px;
    width: 150px;
    background-color: yellow;
    margin: 2px 0;
    position: relative;
    cursor: -webkit-grab;
    -webkit-box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, .2);
    box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, .2);
}

div.note:active {
    cursor: -webkit-grabbing;
};

div.board {
    background-color: green;
    margin: 5px 0;
}

div.note button {
    right: 0;
    bottom: 0;
    height: 40px;
    margin-top: 0px;
    position: relative;
}

div.note textarea {
    right: 0;
    bottom: 0;
    position: relative;
}